<p>
  <%= f.label :user_agent, t('.user_agent'), :class => 'control-label required' %>
  <%= f.text_field :user_agent, :class => 'form-control' %>
  <small><%= t('.what_is_user_agentuser_agent') %></small>
</p>
